.linkButton {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: #3ccccf;
    color: #0b3840;
    border: none;
    border-radius: 0.25rem;
}

.linkButton:hover {
    background-color: #2f9a9c;
}

.darkLinkButton {
    composes: linkButton;
    background-color: #1a535c;
    color: #fff7f7;
    font-size: 0.85rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.darkLinkButton:hover {
    background-color: #0b3840;
}